
<div class="divimagem">
  <img class="imagemInicio" src="assets/imagens/imgLabQuimicaInicio.png" alt="imagem">
  <div class="conteudoDireita">
    <h2 class="ApresentacaoSite">Gerenciamento de estoque para os laboratórios da UNESP - Universidade Estadual Paulista "Júlio de Mesquita Filho" - Campus Itapeva/SP</h2>
  </div>
</div>

  <div class="card-container">

    <a class="card card-small" [routerLink]="['/cadastro', 'formulario1']">Laboratório 1</a>
    <a class="card card-small" [routerLink]="['/cadastro', 'formulario2']">Laboratório 2</a>
    <a class="card card-small" [routerLink]="['/cadastro', 'formulario3']">Laboratório 3</a>
    <a class="card card-small" [routerLink]="['/cadastro', 'formulario4']">Laboratório 4</a>

  </div>

 