<div class="header">

  <div class="hamburger-menu">
    
    <div class="menu-toggle" style="font-size: large;" (click)="toggleMenu()">MENU</div>
    
    <div class="menu-content" [ngClass]="{'open': isMenuOpen}">
      <ul>
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="">Contato</a></li>
      </ul>
    </div>
  </div>
  
  <div class="login">
    <input type="text" [(ngModel)]="username" placeholder="Usuário">
    <input type="password" [(ngModel)]="password" placeholder="Senha">
    <button (click)="onLoginClick()" style="font-size: larger;">Login</button>
    
  </div>

</div>

  